@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

.skills {
  width: 270px;
  display: inline-block;
    margin-top: 50px;

}

.chart--horiz {
  overflow: hidden;
}

.chart__bar {
  height: 30px;
  margin-bottom: 30px;
  background: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  opacity: 0;
  animation: 10s anim-lightspeed-in ease forwards;
  animation-iteration-count: infinite;
}

.chart--dev .chart__bar:nth-of-type(11) {
  animation-delay: 1.10s;
}
.chart--dev .chart__bar:nth-of-type(10) {
  animation-delay: 1.08s;
}
.chart--dev .chart__bar:nth-of-type(9) {
  animation-delay: 1.06s;
}
.chart--dev .chart__bar:nth-of-type(8) {
  animation-delay: 1.04s;
}
.chart--dev .chart__bar:nth-of-type(7) {
  animation-delay: 1.02s;
}
.chart--dev .chart__bar:nth-of-type(6) {
  animation-delay: 1s;
}
.chart--dev .chart__bar:nth-of-type(5) {
  animation-delay: 0.98s;
}
.chart--dev .chart__bar:nth-of-type(4) {
  animation-delay: 0.96s;
}
.chart--dev .chart__bar:nth-of-type(3) {
  animation-delay: 0.94s;
}
.chart--dev .chart__bar:nth-of-type(2) {
  animation-delay: 0.92s;
}
.chart--dev .chart__bar:nth-of-type(1) {
  animation-delay: 0.9s;
}

.chart__label {
  padding-left: 10px;
  line-height: 30px;
  color: #e34725;
}

.chart__title {
  color: #fff;
  font-weight: bold;
  font-size: 10pt;
  margin-left: -30px;
  padding-top:250px;
}

@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  50%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.increase {
  display:flex;
  width: 200px;
  padding-bottom:18px;
  padding-top: 30px;
}

.increase > div {flex:1;}


.counter {
padding:0px;
margin-left:-10px;
margin-right: -15px;}

.perc {
float:right;
width: 30px;
margin-left: -10px;
}

.bounce {
  animation: bounce_9641 1.6s ease infinite;
  transform-origin: 50% 50%;
float:left;
width: 30px;
  margin-right: -5px;
}

@keyframes bounce_9641 {
  0% { transform:translateY(0) }
  12.5% { transform:translateY(0) }
  25% { transform:translateY(0) }
  50% { transform:translateY(-15px) }
  62.5% { transform:translateY(0) }
  75% { transform:translateY(-15px) }
  100% { transform:translateY(0) }
}
